@use "../scss" as *;

.products-page {
  margin-top: 5rem;
  & > .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    @media (max-width: 550px) {
      @include flex(center, center);
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
