// Colors: #FDEFF4, #FFC0D3, #FF5C8D
// Font: Muli

$white: #fff;
$dark: #000;
$brown: #524a4e;
$lighter-pink: #fdeff4;
$primary-color: #ffc0d3;
$darker-pink: #ff5c8d;

$font-family: "Mulish", sans-serif;

$fsize-heading: 3rem;
